/* Estilo para el cuerpo de la página */
body {
    background-color: #FFFFFF; /* Fondo blanco */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
h1 {
    color: #FF0000; /* Rojo para el título */
    text-align: center;
}

/* Estilo para los elementos del formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF; /* Fondo blanco */
    border: 2px solid #FF0000; /* Borde rojo */
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #FF0000; /* Texto rojo */
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #FF0000; /* Borde rojo */
    border-radius: 5px;
    text-align: center;
}

input[type="button"] {
    background-color: #FF0000; /* Fondo rojo */
    color: #FFFFFF; /* Texto blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para el resultado */
p {
    margin-top: 20px;
    color: #FF0000; /* Texto rojo */
    text-align: center;
}

/* Estilo para el span que muestra el costo */
#costoBoleto {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
