/* Estilo para el cuerpo de la página */
body {
    background-color: #000000; /* Fondo negro */
    color: #FFFFFF; /* Texto blanco */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
h1 {
    color: #FFFFFF; /* Texto blanco */
    text-align: center;
}

/* Estilo para los elementos del formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333333; /* Fondo gris oscuro */
    border: 1px solid #666666; /* Borde gris */
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #FFFFFF; /* Texto blanco */
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #666666; /* Borde gris */
    border-radius: 5px;
}

input[type="button"] {
    background-color: #666666; /* Fondo gris */
    color: #FFFFFF; /* Texto blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para el resultado */
p {
    margin-top: 20px;
    color: #FFFFFF; /* Texto blanco */
    text-align: center;
}

/* Estilo para el span que muestra el costo */
#resultado {
    font-weight: bold;
    font-size: 24px;
}
